<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <nav>
            <a href="/home">Home</a>&emsp;&emsp;
            <a href="/aboutus">About us</a>&emsp;&emsp;
            <a href="/contactus">Contact us</a>&emsp;&emsp;
        </nav>

        <section>
            {% block content %}{% endblock %}
        </section>

        <div style="margin-top: 470px;">
            <footer>
                <hr>
                &copy; 2024 6th Sem CMIRT Django Developer
            </footer>
        </div>

    </body>
</html>